<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>edu.ycp.cs496.eduapp.webapp.servlets.Login</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>LoginMobile</servlet-name>
		<servlet-class>edu.ycp.cs496.eduapp.webapp.servlets.LoginMobile</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CreateAccount</servlet-name>
		<servlet-class>edu.ycp.cs496.eduapp.webapp.servlets.CreateAccount</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CreateAccountMobile</servlet-name>
		<servlet-class>edu.ycp.cs496.eduapp.webapp.servlets.CreateAccountMobile</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>MyCourseList</servlet-name>
	    <servlet-class>edu.ycp.cs496.eduapp.webapp.servlets.MyCourseList</servlet-class>
	</servlet>
	
	<!-- Servlet mappings (mapping of paths to servlets). -->
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginMobile</servlet-name>
		<url-pattern>/LoginMobile/*</url-pattern>
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>CreateAccount</servlet-name>
		<url-pattern>/CreateAccount/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CreateAccountMobile</servlet-name>
		<url-pattern>/CreateAccountMobile/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>MyCourseList</servlet-name>
	    <url-pattern>/MyCourseList/*</url-pattern>
	</servlet-mapping>
	
	
	<!-- Servlet context listeners -->
	<listener>
	    <listener-class>edu.ycp.cs496.eduapp.webapp.servlets.DatabaseInitListener</listener-class>
	</listener>
</web-app>
